.alternativa > div {
    padding: 5px;
    border: 1px solid;
    border-radius: 10px;
    display: flex;
    position: relative;
}

.alternativa_button {
    border: none;
    padding: 2px 5px;
    cursor: pointer;
    background-color: transparent;
}

.alternativa > div > button {
    border: none;
    background-color: transparent;
    padding: 0px 5px;
    cursor: pointer;
}

.selecionada {
    border: none;
    padding: 2px 5px;
    cursor: pointer;
    background-color: var(--color-00-acerto);
}