.ranking {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.users {
    display: flex;
    align-items: center;

    width: 200px;
    justify-content: space-between;
    border: 1px solid;
    background-color: var(--color-01-white);
    padding: 10px 25px;

    border-radius: 10px;
}

.topFrag {
        display: flex;
    align-items: center;

    width: 200px;
    justify-content: space-between;
    border: 1px solid;
    background-color: var(--color-01-white);
    padding: 10px 25px;

    border-radius: 10px;
    position: relative;
}

.topFrag > h1 {
    position: absolute;
    left: -35px;
}

.top1 > i {
    color: rgb(194, 4, 4);
}

.top3 > i {
    color: rgb(194, 194, 4);
}

.top2 > i {
    color: rgb(4, 140, 194);
}

.informacoes {
    margin: 35px;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ranking_container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 100px;
}

.melhor_usuario {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--color-01-white);
    padding: 20px;
    border-radius: 10px;
}

.melhor_usuario > div {
    display: flex;
    align-items: center;
}

.theme {
       color: var(--color-02-purple);
       font-weight: bolder;
}