.container_home {
    height: 100vh;
    max-width: 100%;
}

.sub_container_home {
    background-color: var(--color-02-white);
    height: 100vh;
    max-width: 100%;
}

.informations_quests {
    margin: 20px;
}

.cards_home{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin: 100px 20px;
    align-items: center;
    justify-content: center;
}

.cards_quests {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin: 20px;
    align-items: center;
}

.header_analise > h1 {
    font-size: 35px;
}

.header_analise > p {
    font-size: 20px;
}

.analise {
    margin-bottom: 15px;
}

.analise > div {

    margin-top: 20px;

    background-color: var(--color-01-white);

    padding: 20px;

    border-radius: 20px;
    width: 500px;
}

.analise > div > ul {
    list-style: none;
    margin-top: 10px;
}

.analise > div > ul > li {
    margin-top: 5px;
}
