.container_home {
    height: 100vh;
    max-width: 100%;
}

.sub_container_home {
    background-color: var(--color-02-white);
    margin: 0px 35px;
    height: 100vh;
    max-width: 100%;
}

.informations_quests {
    margin: 20px;
}

.cards_home{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin: 20px;
    align-items: center;
    justify-content: center;
}

.cards_quests {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin: 20px;
    align-items: center;
}

