header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;

}

.logo_home_link  {
    font-size: 35px;
}

header > div {
    display: flex;
    justify-content: space-around;
    width: 700px;
}

header > div > ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
}

header > div > img {
    width: 100px;
}