header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    padding-bottom: 50px;
}

.logo_home_link  {
    font-size: 35px;
}

header > div {
    display: flex;
    justify-content: space-around;
}

header > div > ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
    margin-right: 25px;
}

header > div> ul > li {
    background-color: var(--color-01-white);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

header > div> ul > li > i {
    margin-right: 5px;
}

.sub_logo {
    width: 100px;
}